{% extends "base.html" %}

{% block content %}
    <h3 class="text-center">修改头像</h3>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            原头像:
            <img src="/media/{{ requests.user.avatar }}" alt="{{ requests.user.username }}">
        </p>
        <p>

        <div class="form-group">
            <label for="myfile">新头像
                <img src="/media/avatar/default.png" id="myfileImg" alt="" width="80px"
                     style="margin-left: 10px">
            </label>
            <input type="file" id="myfile" style="display: none" name="avatar">
        </div>
        </p>
        <input type="submit" class="btn btn-default" value="提交">
    </form>



{% endblock %}


{% block js %}
    <script>
        {#实时显示头像#}
        $("#myfile").change(function () {
            {#文件阅读器对象#}
            {#1.生成一个文件阅读器对象#}
            let myFileReaderObj = new FileReader()
            {#2.获取用户上传的头像文件对象#}
            let fileObj = $(this)[0].files[0]
            {#3.将文件对象交给阅读器对象读取#}
            myFileReaderObj.readAsDataURL(fileObj)  //异步操作

            {#4.利用文件阅读器将文件展示到前端  修改src属性#}
            // 文件阅读器加载完毕再执行
            myFileReaderObj.onload = function () {
                $("#myfileImg").attr("src", myFileReaderObj.result)
            }

        })


    </script>

{% endblock %}